@tailwind base;
@tailwind components;
@tailwind utilities;


.seeRecord{
    display:flex;
    justify-content: flex-end;
    cursor: pointer;
}
.dashboard{
    color:black;
    
}

.dashMain{
    margin-left: 300px;
    margin-right: 300px;
    
}

.test{
    border: 5px solid red;
}

body{
    background-image: url('/src/app/images/BG.jpg');
}