@tailwind base;
@tailwind components;
@tailwind utilities;

#searchBox{
    border: 0.1px solid black;
    border-radius: 50px;
}

#searchButton{
    border: 3px solid #F97316;
    margin-left: 5px;
    border-radius: 15px;
    color: black;
    background-color: #F97316;
}

#searchButton:hover{
    transform: scale(1.1);
    transition:transform 0.3s;
}

.search-container{
    margin-top: 30px;
    margin-left: 10%;
}

.tagSearch{
    border: 0.1px solid black;
    border-radius: 20px;
}